body{
  font-weight: 300;
  color:#777;
  padding: 10px;
  font-size: 14.5px;
  line-height: 1.5;
  font-family: Lato, Arial, sans-serif;
}


a{
  text-decoration: none;
  color: #39c;
}


.header-image-container img{
  width:190px;
  height: 190px;
  border-radius: 50%;
}


.spacer{
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 23%;
  top: 0px;
  left: 0px;
  box-shadow: 0px 10px 22px #ffffff;
}


header{
  padding-bottom: 30px;
}


.container{
  width: 100%;
  margin: 0 auto;
}


header h1{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}


h1{
  font-size: 100px;
  font-weight: 100;
  color: #222;
  display: inline-block;
}


h1 img{
  display: inline-block;
}


strong{
    color: #222;
    font-weight: 700;
}


.image{
  width:100%;
}
