/* Mobile-Size */
@media screen and (max-width: 670px){
  .header-image-container img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  header h1{
    text-align: center;
    font-size: 35px;
  }


  #info{
    position: relative;
    display: inline-block;
    padding-top: 315px;
    top: 0;
    bottom: 0;
    left: 35px;
    right: 0;
    margin: auto;
  }


  .false-img{
    padding: 3px;
    font-size: 40px;
    padding-left: 0;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 20px;
    display:block;
  }


  .spacer{
    background-color: #ffffff;
    top:0px;
    display: block;
    z-index: 10;
    height: 234px;
  }


}

/* Medium-Screen */
@media screen and (min-width: 671px) and (max-width: 970px){
  #info{
    display: none;
  }


  .header-image-container img{
    padding-left: 0;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 20px;
  }


  h1{
    font-size: 60px;
    line-height: 110%;
    display: block;
  }


  header h1{
    position: fixed;
    left: 70px;
    top: 0px;
    width: 100%;
  }


  .header-image-container{
    display: inline;

  }


  header img{
    padding-left: 0;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 20px;
  }


  .header-image-container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }


  h1 img{
    display: inline-block;
    height: 170px;
    width: 170px;
  }


  #resume {
    padding-top: 220px;
    margin-top: 10px;
    margin-left: 5%;
    display: inline-block;
    left: 0px;
    right: 0px;
    width: auto;
    float: none;
    padding-bottom: 0;
    margin-top: 0;
  }




}

/* full screen broswer size */
@media screen and (min-width: 971px){
  #info {
      width: 30%;
      position: fixed;
      top: 300px;
      left: 90px;
    }


    .header-image-container{
    display: inline;
    }


    header h1{
    position: relative;
    left: 70px;
    top: 0px;

    }
/* new improve header */
    header img{
      padding-left: 0;
      vertical-align: middle;
      margin-left: 0px;
      margin-right: 20px;
    }

/* new improve resume width */
    #resume{
    width: 76%;
    float: right;
    padding-bottom: 50px;
    margin-top: 200px;
    }



}
