{
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    
    "browserslist": [
        "last 2 Chrome versions"
    ]
}